{% extends "base.html.twig" %}

{% block body %}
    <div class="background">
        <div class="creationCharacter-container">
            <h1>Créer un personnage</h1>

            <div class="create-block" id="block-races">
                <div class="create-left">
                    <div class="charactersList">
                        <div class="characterlist-border" id="characterMale">
                        {% for race in races %}
                            <img class="characterList-img" src="{{ asset(race.getUrlImageMale()) }}" alt="{{ race.nameMale }}">
                        {% endfor %}
                        </div>
                        <div class="characterlist-border display-none" id="characterFemale">
                        {% for race in races %}
                            <img class="characterList-img" src="{{ asset(race.getUrlImageFemale()) }}" alt="{{ race.nameFemale }}">
                        {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="create-right">
                    <div class="races-description">
                        <h2>Nom de la race</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perferendis nemo nostrum voluptate dolore molestiae nulla, et tempore vel, unde ipsam, ratione laboriosam ut dignissimos deleniti corrupti recusandae nobis maiores! Earum laborum quis illum necessitatibus nobis explicabo laboriosam animi alias voluptatibus tenetur, quos odit dolorem ullam, assumenda veritatis labore quia! Eligendi commodi dolores saepe dolore reiciendis officia? Optio quod assumenda impedit veritatis, quasi corrupti cupiditate facere, tempora sint exercitationem dolorem voluptate reiciendis rerum nihil earum. Atque deserunt labore soluta dicta officia dolorum eveniet vel recusandae! Sint voluptate error aliquid deserunt nemo, laborum, libero distinctio culpa quas eius quis eligendi nostrum?
                        </p>
                    </div>

                    <div class="gender">
                        <div class="gender-btn genderSelected" id='genderMale'>
                            <img class="gender-img" src="{{ asset("assets/images/gender-icons/gender-male.png") }}" alt="gender male">
                        </div>
                        <div class="gender-btn" id='genderFemale'>
                            <img class="gender-img" src="{{ asset("assets/images/gender-icons/gender-female.png") }}" alt="gender female">
                        </div>
                    </div>

                    <div class="submit-block">
                        <div id="next">Suivant</div>
                    </div>
                </div>
            </div>


            <div class="create-block display-none" id="block-stats">
                <h2>Stat bloc (ou bloc 2 comme tu veux)</h2>
                <div class="create-left">
                    <div class="charactersList">
                        <div class="characterlist-border">
                            Menu stats
                        </div>
                    </div>
                </div>

                <div class="create-right">
                    <div class="races-description">
                        Menu description
                    </div>

                    <div class="gender">
                        menu nom
                    </div>

                    <div class="submit-block">
                        <div id="previous">Précédant</div>
                        <div id="validate">Valider</div>
                    </div>
                </div>
            </div>


        </div>
    </div>    
{% endblock body %}

{% block javascripts %}
    <script src="{{ asset("js/Classes/Toolbox.js") }}" defer></script>
    <script src="{{ asset("js/characterCreation.js") }}" defer></script>
{% endblock %}