{% extends "base.html.twig" %}

{% block body %}
    <div class="background">
        <div class="creationCharacter-container">
            <h1>Créer un personnage</h1>

            {{form_start(characterForm)}}
            <div class="create-block" id="block-races">
                <div class="create-left">
                    <div class="charactersList">
                        <div class="characterlist-border" id="characterMale">
                        {% for race in races %}
                            {% if params["_locale"] == "fr" %}
                            <img class="characterList-img" id="charMale" src="{{ asset(race.getUrlImageMale()) }}" alt="{{ race.nameMale }}" data-id="{{ race.id }}">
                            {% else %}
                            <img class="characterList-img" id="charMale" src="{{ asset(race.getUrlImageMale()) }}" alt="{{ race.nameMaleEn }}" data-id="{{ race.id }}">
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div class="characterlist-border display-none" id="characterFemale">
                        {% for race in races %}
                            {% if params["_locale"] == "fr" %}
                            <img class="characterList-img" id="charFemale" src="{{ asset(race.getUrlImageFemale()) }}" alt="{{ race.nameFemale }}" data-id="{{ race.id }}">
                            {% else %}
                            <img class="characterList-img" id="charFemale" src="{{ asset(race.getUrlImageFemale()) }}" alt="{{ race.nameFemaleEn }}" data-id="{{ race.id }}">
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="create-right">
                    <div class="races-description">
                        <span>{% trans %}<h2 id="races-description-title"></h2>{% endtrans %}</span>
                        {% include "parts/racesDescription.html.twig" %}
                    </div>

                    <div class="gender">
                        <div class="gender-btn genderSelected" id='genderMale'>
                            <img class="gender-img" src="{{ asset("assets/images/gender-icons/gender-male.png") }}" alt="gender male" data-gender="male">
                        </div>
                        <div class="gender-btn" id='genderFemale'>
                            <img class="gender-img" src="{{ asset("assets/images/gender-icons/gender-female.png") }}" alt="gender female" data-gender="female">
                        </div>
                    </div>

                    <div class="submit-block">
                        <div id="btn-creationCharacter-nav" data-navType="next">Suivant</div>
                    </div>
                </div>
            </div>


            <div class="create-block display-none" id="block-stats">
                <div class="create-left">
                    <div class="characterStats">
                        <div class="borderStat">
                            <h2>Statistiques</h2>
                            <table>
                                <tbody>
                                {% for stat in stats %}
                                    <tr>
                                        <td class="tableStat-name">{{ stat[0] }}</td>
                                        <td class="tableStat-manager">
                                            <span id="statDecrease" data-stat="{{ stat[1] }}">-</span>
                                            <span id="statCurrent" data-stat="{{ stat[1] }}">10</span>
                                            <span id="statIncrease" data-stat="{{ stat[1] }}">+</span>
                                        </td>
                                    </tr>                                
                                {% endfor %}
                                </tbody>
                                <tr class="remainingPoints">
                                    <td colspan="2">Points restant : <span id="points">{{ statPoints }}</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="create-right">
                    <div class="races-description">
                        A venir
                    </div>

                    <div class="character-name">
                        <label>Nom</label>
                        {{ form_widget(characterForm.name) }}
                    </div>

                    <div class="submit-block">
                        <div id="btn-creationCharacter-nav" data-navType="previous">Précédant</div>
                        {{ form_widget(characterForm.submit) }}
                    </div>
                </div>
            </div>
            {{ form_end(characterForm) }}

        </div>
    </div>    
{% endblock body %}

{% block javascripts %}
    <script src="{{ asset("js/Classes/Toolbox.js") }}"></script>
    <script src="{{ asset("js/Classes/CharacterCreationClasse.js") }}"></script>
    <script src="{{ asset("js/characterCreation.js") }}"></script>
{% endblock %}